@font-face {
  font-family: 'get_schwifty';
  src: url('./fonts/get_schwifty.ttf') format('truetype');
}

body {
  background-image: url('../public/rm_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'get_schwifty', sans-serif;
  color: rgb(190, 190, 211);
  text-align: center;
  font-size: 5rem;
}